
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a ui-sref="home.index" class="navbar-logo d-none d-lg-block" href="#!/home/index"><img src="/assets/images/dev-icon.png" alt="Site Name"></a>

        <a class="navbar-brand js-scroll-trigger" ui-sref="home.index">Santo Campeonato</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" ui-sref="home.galeria">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" ui-sref="home.contato">Contato</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn btn-red btn-red-outline" ui-sref="tabela.list">Lista Tabelas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn btn-red btn-red-outline" ui-sref="times.list">Lista Times</a>
            </li>

            

            
          </ul>
        </div>
      </div>
    </nav>