<section ng-init="times.getListTeams()"
        class="my-section article mbr-parallax-background mbr-after-navbar" style="
background-image: url(/assets/images/desert.jpg);
padding-top: 114px; padding-bottom: 113px;">



    <div class="overlay" style="opacity: 0.5;background-color: rgb(34, 34, 34);">
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center head-text">
                <h3 class="my-section-title display-2">LISTA TIMES</h3>


            </div>
        </div>
    </div>


</section>

<section class="mbr-section article mbr-section__container" id="content1-6" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 lead">

                <div ng-repeat="n in times">
                    <h2>{{n.title.rendered}}</h2>
                    <!--<span ui-sref="times.timeinfo({id: [{{n.id}}]})">Ver</span>-->
                    <span ng-click="goteam(n.id)">Ver</span>


                </div>


            </div>
        </div>
    </div>

</section>