<section
         class="my-section article mbr-parallax-background mbr-after-navbar" style="
background-image: url({{mediatime.source_url}});
padding-top: 114px; padding-bottom: 113px;">



    <div class="overlay" style="opacity: 0.5;background-color: rgb(34, 34, 34);">
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center head-text">
                <h3 class="my-section-title display-2">{{time.title.rendered}}</h3>


            </div>
        </div>
    </div>


</section>

<section class="mbr-section article mbr-section__container" id="content1-6" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 lead">
                <div ng-bind-html="time.content.rendered | to_trusted"></div>


            </div>
        </div>
    </div>

</section>