<section ng-init="tabelas.getListTabelas()"
         class="my-section article mbr-parallax-background mbr-after-navbar" style="
background-image: url(/assets/images/desert.jpg);
padding-top: 114px; padding-bottom: 113px;">



    <div class="overlay" style="opacity: 0.5;background-color: rgb(34, 34, 34);">
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center head-text">
                <h3 class="my-section-title display-2">LISTA TABELAS</h3>


            </div>
        </div>
    </div>


</section>

<section class="mbr-section article mbr-section__container" id="content1-6" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 lead">


                <div ng-init="tabelas.getListSeasons()">
                    
                    <button ng-repeat="s in seasons">
                        {{s.name}}
                    </button>

                </div>


                <div ng-repeat="t in tabelas" class="table-responsive">
                    <h2 style="text-align: center" ng-bind-html="t.title.rendered | to_trusted"></h2>
                <table class="table table-hover"  style="margin-bottom: 20px">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Clube</th>
                        <th scope="col">{{t.data[0].pts}}</th>
                        <th scope="col">{{t.data[0].p}}</th>
                        <th scope="col">{{t.data[0].w}}</th>
                        <th scope="col">{{t.data[0].d}}</th>
                        <th scope="col">{{t.data[0].l}}</th>
                        <th scope="col">{{t.data[0].f}}</th>
                        <th scope="col">{{t.data[0].a}}</th>
                        <th scope="col">{{t.data[0].gd}}</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="c in t.data | toArray | orderBy: 'pos'" ng-if="c.pos != 'Pos'" ng-class="{0:'table-success', 1:'table-success', 2:'table-warning'}[$index]">
                            <th scope="row">{{c.pos}}</th>
                            <td >{{c.name}}</td>
                            <td >{{c.pts}}</td>
                            <td >{{c.p}}</td>
                            <td >{{c.w}}</td>
                            <td >{{c.d}}</td>
                            <td >{{c.l}}</td>
                            <td >{{c.f}}</td>
                            <td >{{c.a}}</td>
                            <td >{{c.gd}}</td>
                        </tr>

                    </tbody>
                </table>


                </div>


            </div>
        </div>
    </div>

</section>